header {
    background-color: #201f1f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    padding: 20px 15px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    position: sticky;
    top: 0;
}

header h1 {
    cursor: pointer;
    font-size: 1.3rem;
}

.headerSpan {
    font-weight: 300;
}

header nav {
    font-weight: 300;
    display: flex;
    gap: 16px;
}

a {
    color: #eee;
    text-decoration: none;
    transition: 200ms;

}

a:hover {
    transform: scale(1.1);
    color: rgb(58, 127, 207);
}

@media (min-width: 530px) {
    header {
        padding: 20px 10%;
        border-bottom-left-radius: 32px;
        border-bottom-right-radius: 32px;
    }

    header h1 {
        font-size: 1.7rem;
    }

    header nav {
        gap: 50px;
        font-size: 1.2rem;
    }
}

@media (min-width: 1000px) {
    header {
        padding: 20px 20%;
    }

    header nav {
        gap: 90px;
    }
}